@import 'registration.confs';

@import 'registration.mixins';

@import url(//fonts.googleapis.com/css?family=Lato:700);

body {
	font-family: $fontFamily;
}

div.welcome, div.registrator {
	width: 90%;
	margin: 0px auto 20px;
}

div.welcome {
	text-align: center;
	padding-bottom: 10px;
	border-bottom: $borderStyle;
}

h1 {
	font-size: 32px;
	margin: 16px 0 0 0;
	color: #000;
}

h2 {
	color: #189FDB;
}

div[data-ng-controller="RegistrationController as regCtrl"] {
	
}

legend {
	display: block;
	width: auto;
	margin-bottom: none;
	font-size: 100%;
	color: #000000;
	border: none;
}

input[type=submit] {
	margin: 0px auto;
}

.button {
	border: $borderStyle;
	background: #eeeeee;
	margin: $smallPadding;
	padding: $smallPadding;
	display: block;
	width: auto;
	float: left;
	clear: both;
}

input[type=submit] {
	font-weight: bold;
	font-size: 120%;
	float: none;
}

ol {
	clear: both;
}

ol li {
	margin-top: 10px;
}

#total_price {
	border: 0px;
	font-weight: bold;
}

.title, #registrationForm {
	font-family: $fontFamily;
}

.title {
	font-size: 230%;
	color: #3D9FD0;
}

.title span {
	color: #000000;
}

fieldset {
	padding: 10px;
	margin: 10px;
	border: $borderStyle;
	clear: both;
}

.item-page {
	display: none;
}

div.language {
	margin: $smallPadding;
	padding: $smallPadding;
	background: #999999;
	color: #000000;
	float: left;
	display: inline;
	font-weight: bold;
}

div.language.selected {
	background: #3D9FD0;
}

div.form, div.selectLanguage {
	clear: both;
	width: 100%;
	display: block;
	float: none;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: auto;
}

input[type=text], input[type=date], input[type=email], input[type=password],
	textarea {
	padding: $smallPadding;
	margin-top: $smallPadding;
	margin-bottom: $smallPadding;
	width: 100%;
	border: 0px;
	border-bottom: $borderStyle;
	padding: $smallPadding;
	font-size: 100%;
	font-style: italic;
}

input.ng-invalid.ng-dirty[required], input.ng-invalid.ng-touched[required]
	{ @include formAlert(#FF4000, rgba(246, 216, 206, 0.2));
	
}

input.ng-valid.ng-dirty[required] { @include formAlert(#3ADF00, none);
	
}

div.dropboxContainer {
	padding: 0;
	margin: 0px 10px;
	border: 1px solid #ccc;
	width: 120px;
	border-radius: 3px;
	overflow: hidden;
	background-color: #fff;
	display: inline;
	float: left;
	background: #fff url("../shared/img/arrowdown.gif") no-repeat 90% 50%;
}

div.dropboxContainer select {
	padding: 5px 8px;
	width: 130%;
	border: none;
	box-shadow: none;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

div.dropboxContainer select:focus {
	outline: none;
}

table tr td, table tr th {
	padding: $smallPadding;
}

div.coachCreator, div.crewCreator {
	overflow: auto;
	clear: both;
	padding-top:5px;
}

div.coachCreator div, div.crewCreator div {
	float: left;
}

div.crewCreator div.crewLabel, div.coachCreator div.coachLabel, div.crewCreator div.catLabel
	{
	margin: 5px;
	font-size: 105%;
	font-weight: bold;
}

ul.notifications>li {
	padding: 10px;
	margin: 10px;
}

ul.notifications>li.warning { @include notificationsStyle(rgba(255, 144,
	0, 0.1))
	
}

ul.notifications>li.error { @include notificationsStyle(rgba(255, 0, 0,
	0.1))
	
}

ul.notifications>li.info { @include notificationsStyle(rgba(91, 192, 222, 0.1))
	
}

div.info {
	color: #999999;
	padding: 10px;
	margin: 10px;
	border-left: thin solid #999999;
}

label.required:after {
	content: "*";
	color: #ff0000;
}