<div class="info">{{regCtrl.messages.info.coachesDetails}}</div>
<fieldset id="coachFs">
	<legend> {{regCtrl.messages.labels.coaches}} </legend>	
	<span class="btn btn-primary" name="add_coach" id="add_coach"
		data-ng-click="regCtrl.addCoach()">{{regCtrl.messages.values.addCoach}}</span>
	<div id="coaches">
		<div data-ng-repeat="coach in regCtrl.registration.team.coaches"
			id="coach_{{coach.id}}" class="coach">
			<div class="coachCreator">
				<div class="coachLabel">{{regCtrl.messages.labels.coach}}
					N{{$index+1}}</div>
				<div class="coachDeleteBtn">
					<span id="coach_{{coach.id}}_delete" class="btn btn-warning"
						data-ng-click="regCtrl.removeCoach($index)">{{regCtrl.messages.labels.delete}}</span>
				</div>
			</div>
			<ol>
				<li><label for="coach_{{coach.id}}_name">{{regCtrl.messages.labels.name}}</label>
					<input type="text" id="coach_{{coach.id}}_name"
					data-ng-model="coach.name" /></li>
				<li><label for="coach_{{coach.id}}_surname">{{regCtrl.messages.labels.surname}}</label>
					<input type="text" id="coach_{{coach.id}}_surname"
					data-ng-model="coach.surname" /></li>
				<li><label>{{regCtrl.messages.labels.sex}}</label> <input
					id="crew_{{coach.id}}_sex_m"
					name="data[coaches][{{coach.id}}][sex]" data-ng-model="coach.sex"
					type="radio" value="M" /> <label id="crew_{{coach.id}}_sex_m">{{regCtrl.messages.labels.sexes.m}}</label>
					<input id="crew_{{coach.id}}_sex_f"
					name="data[coaches][{{coach.id}}][sex]" data-ng-model="coach.sex"
					type="radio" value="F" /> <label id="crew_{{coach.id}}_sex_f">{{regCtrl.messages.labels.sexes.f}}</label>
				</li>
			</ol>
		</div>
	</div>

</fieldset>