<div class="info">{{regCtrl.messages.info.crewsDetails}}</div>
<fieldset id="crewsFs">
	<legend> {{regCtrl.messages.labels.crews}} </legend>
	<span class="btn btn-primary" id="add_crew"
		data-ng-click="regCtrl.addCrew()">{{regCtrl.messages.values.addCrew}}</span>

	<div id="crews">
		<div data-ng-repeat="crew in regCtrl.registration.team.crews"
			class="crew" id="crew_{{crew.id}}">
			<input type="hidden" data-ng-model="crew.id" />
			<ol>
				<li>
					<div class="crewCreator">
						<div class="crewLabel">{{regCtrl.messages.labels.crew}}
							N{{$index+1}}</div>
						<div class="catLabel">
							<label for="crew_{{crew.id}}_category">{{regCtrl.messages.labels.category}}</label>
						</div>
						<div class="dropboxContainer">
							<select data-ng-model="crew.category"
								data-ng-change="regCtrl.changeCrewCategory(crew)"
								id="crew_{{crew.id}}_category"
								data-ng-options="regCtrl.messages.boats[boat].label for boat in regCtrl.boats">
								<option value="">---</option>

							</select>
						</div>
						<div class="crewDeleteBtn">
							<span class="btn btn-warning"
								data-ng-click="regCtrl.removeCrew($index)">{{regCtrl.messages.labels.delete}}</span>
						</div>
					</div>
				</li>
				<li data-ng-show="crew.athletes && crew.athletes.length > 0">
					<table>
						<thead>
							<tr>
								<th>{{regCtrl.messages.labels.place}}</th>
								<th>{{regCtrl.messages.labels.name}}</th>
								<th>{{regCtrl.messages.labels.surname}}</th>
								<th>{{regCtrl.messages.labels.licenceNo}}</th>
								<th>{{regCtrl.messages.labels.sex}}</th>
								<th>{{regCtrl.messages.labels.birthdate}}</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="member in crew.athletes" class="memberItem">

								<td>{{regCtrl.getPlaceLabel(crew, $index)}}<input
									type="hidden" data-ng-model="member.id" /></td>
								<td><input type="text" data-ng-model="member.name"
									placeholder="{{regCtrl.messages.labels.name}}" /></td>
								<td><input type="text" data-ng-model="member.surname"
									placeholder="{{regCtrl.messages.labels.surname}}" /></td>
								<td><input type="text" data-ng-model="member.licence"
									placeholder="{{regCtrl.messages.labels.licencePlaceholder}}" /></td>
								<td><input id="crew_{{crew.id}}_member_{{$index+1}}_sex_m"
									data-ng-model="member.sex" type="radio" data-ng-value="'M'" />
									<label for="crew_{{crew.id}}_member_{{$index+1}}_sex_m">{{regCtrl.messages.labels.sexes.m}}</label>
									<input id="crew_{{crew.id}}_member_{{$index+1}}_sex_f"
									data-ng-model="member.sex" type="radio" data-ng-value="'F'" />
									<label for="crew_{{crew.id}}_member_{{$index+1}}_sex_f">{{regCtrl.messages.labels.sexes.f}}</label>
								</td>
								<td><input type="text" data-ng-model="member.birthdate"
									placeholder="{{regCtrl.messages.labels.birthdatePlaceholder}}" /></td>
							</tr>
						</tbody>
					</table>
				</li>
			</ol>
		</div>
	</div>


</fieldset>
