<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<div class="caption">
				<h3>{{bookCtrl.messages.meals.saturdayNoon.label}}</h3>
				<h4 class="price">8 &euro;/pers</h4>
				<!--
				<ul>
					<li>{{bookCtrl.messages.meals.saturdayNoon.menu.meal}}</li>
					<li>{{bookCtrl.messages.meals.saturdayNoon.menu.dessert}}</li>
					<li>{{bookCtrl.messages.meals.saturdayNoon.menu.bread}}</li>
				</ul>
			-->
				<input data-ng-model="bookCtrl.booking.saturdayNoon" type="number"
					required="required"
					placeholder="{{bookCtrl.messages.meals.labels.quantity}}">
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<div class="caption">
				<h3>{{bookCtrl.messages.meals.saturdayNight.label}}</h3>
				<h4 class="price">8 &euro;/pers</h4>
				<!--
				<ul>
					<li>{{bookCtrl.messages.meals.saturdayNight.menu.meal}}</li>
					<li>{{bookCtrl.messages.meals.saturdayNight.menu.dessert}}</li>
					<li>{{bookCtrl.messages.meals.saturdayNight.menu.bread}}</li>
				</ul>
				-->
				<input data-ng-model="bookCtrl.booking.saturdayNight" type="number"
					required="required"
					placeholder="{{bookCtrl.messages.meals.labels.quantity}}">
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<div class="caption">
				<h3>{{bookCtrl.messages.meals.sundayNoon.label}}</h3>
				<h4 class="price">8 &euro;/pers</h4>
				<!--
				<ul>
					<li>{{bookCtrl.messages.meals.sundayNoon.menu.meal}}</li>
					<li>{{bookCtrl.messages.meals.sundayNoon.menu.dessert}}</li>
					<li>{{bookCtrl.messages.meals.sundayNoon.menu.bread}}</li>
				</ul>
				-->
				<input data-ng-model="bookCtrl.booking.sundayNoon" type="number"
					required="required"
					placeholder="{{bookCtrl.messages.meals.labels.quantity}}">
			</div>
		</div>
	</div>
</div>

<button type="submit" class="btn btn-lg btn-block"
	data-ng-class="{'btn-success': bookForm.$valid, 'btn-danger':!bookForm.$valid}"
	 data-ng-bind-html="bookCtrl.getSubmitButtonLabel()"></button>
