
<fieldset id="priceFs" data-ng-hide="regCtrl.invitation">
	<legend> {{regCtrl.messages.labels.price}} </legend>
	<p id="priceInfo"></p>
	<ol>
		<li><label for="total_price">{{regCtrl.messages.labels.totalPrice}}</label>
			{{regCtrl.getTotalPrice()}}</li>
	</ol>
</fieldset>
<fieldset id="complementaryFs">
	<legend> {{regCtrl.messages.labels.complementary}} </legend>
	<textarea id="complementary_text"
		data-ng-model="regCtrl.registration.team.details"></textarea>
</fieldset>

<input type="submit" class="btn btn-lg btn-block"
	data-ng-class="{'btn-success': regForm.$valid, 'btn-danger':!regForm.$valid}"
	value="{{regCtrl.messages.values.submit}}">

